
<h2>Welcome <%= current_user.first_name %></h2>
<%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "waves-effect waves-teal btn-flat" %>
<hr />
<div>
<h4><%= image_tag('remind-me.png') %>your reminders . . .</h4>
</div>
  <% @messages.each do |message| %>
  <div class="row">
    <div class="col s12 m6">
      <div class="card teal">
        <div class="card-content white-text">
        <span><%= message.title %>:</span>
        <br/>
        <p><%= message.body %><p>
        </div>
        <div class="card-action pink-text">
        <a><%= link_to "delete reminder", message, method: :delete %></a>
        </div>
      </div>
    </div>
  </div>
    
  <% end %>
<div class="row">
<%=  link_to "create reminder", new_message_path, class: "waves-effect waves-light btn red lighten-2 col s2 push-s2" %>
</div>

